.page {
  @apply w-screen min-h-screen;
}

.nav-page {
  @apply p-8 lg:p-20 lg:pl-80;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 50vw;
  padding: 12px 24px;
  transition: all 300ms ease;
}

.btn.sec {
  background-color: var(--grey);
  color: black;
}

.btn:hover {
  scale: 1.03;
}

.heading-box {
  @apply flex w-full;
}

.icon-bounce {
  @apply hover:scale-110 cursor-pointer;
  transition: all 2s var(--elastic-out);
}

.copy-default {
  animation: copySlideDown 150ms ease;
}

.copy-active {
  animation: copySlideUp 150ms ease;
}

@keyframes copySlideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes copySlideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
